@charset "utf-8";

html,body{
    margin: 0;
}

ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,figure,p{
    margin: 0;
}

img{
    vertical-align: top;
}

a{
    text-decoration: none;
    color: #000;
}

*{
    box-sizing: border-box;
    font-size: 11px;
    color: rgb(20, 20, 20);
    font-family: 'Playfair Display', serif;
}

/* bugger menu */

.menuimg{
    cursor: pointer;
}

.menulist{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    width: 500px;
    height: 900px;
    padding-top: 150px;
}

.menulist.active{
    display: inline-block;
}

.menulist ul{
    padding-bottom: 50px;
    width: 300px;
}

.menulist > ul > a{
    display: inline-block;
    color: #fff;
    font-size:30px;
    margin-left:80px;
    margin-bottom: 30px;
}

.menulist > ul > li{
    margin-left: 130px;
    margin-bottom: 10px;
}

.menulist > ul > li > a{
    color: #fff;
    font-size: 13px;
}

.menulist > ul > li > a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}

.close{
    position: absolute;
    top:50px;
    right: 48px;
    cursor: pointer;
}

.close img{
    width: 28px;
}

/* header */

.h{
    display: flex;
    align-items: center;
    position: absolute;
    top:0;
    z-index: 1;
    height: 100px;
    padding: 0 50px;
}

.search{
    margin: 0 38px;
}

.search span:nth-child(2) img{
    margin: 6px -2px;
}

.kr span:nth-child(2) img{
    margin: 6px 10px;
}

.search span, .kr span{
    color: #fff;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* footer */


footer{
    background: #000;
    text-align: center;
    width: 100%;
}

.f_width{
    width: 80%;
    margin: 0 auto;
}

.footer_family{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    flex-wrap: wrap;
    justify-content: left;
}

.footer_family img{
    margin-right: 100px;
}

.f{
    display: flex;
    padding-bottom: 80px;
    width: 100%;
    flex-wrap: wrap;
}

.footer_text_1{
    padding-bottom: 25px;
}

.footer_text_1 span{
    font-size: 16px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 30px;
    font-weight: 200;
}

.footer_text_1 span:nth-child(5){
    font-weight: 600;
}


.footer_text_2{
    text-align: left;
    color: #fff;
}

.footer_text_2 span{
    font-size: 11px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    margin-right: 15px;
}

.footer_text_2 span:nth-child(3){
    color: #fff;
}

.footer_text_2 span:nth-child(3){
    color: #fff;
}

.footer_text_2 p{
    text-align: left;
    font-size: 11px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
}

.footer_logo{
    margin-right: 200px;
}

.sns_icon{
    margin-left: 100px;
}

.sns_icon img{
    margin-left: 10px;
}
